<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <title>Title</title>
</head>

<body>
  <div id="app">
    <li v-for="userMsg in userMsgList">{{ userMsg.body }}</li>
    <input type="text" placeholder="messageを入力" v-model="newMessage" v-on:keyup.enter="addUserList(newMessage)"></p>
  </div>

  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask" @click="$emit('close')">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-body">
              <p>これはチャットしてる間に質問できる質問生成サービスです</p>
              <p>さっそくチャットを始めましょう！</p>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>
  <div id="modalWindow">
    <modal v-if="showModal" @close="showModal = false">
    </modal>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>