<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <title>Title</title>
</head>

<body>

  <!-- header -->
  <header class="nav">
    <div class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">質問ジェネレーター</h1>
          <h2 class="subtitle">©Champon</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- main -->
  <main id="app">

    <!-- ChatView -->
    <div>
      <li v-for="userMsg in userMsgList">{{ userMsg.body }}</li>
    </div>

    <!-- SearchBox -->
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="text" placeholder="messageを入力" v-model="newMessage" v-on:keyup.enter="addUserList(newMessage)"></p>
      </div>
      <div class="control">
        <a class="button is-info">
          送信
        </a>
      </div>
      <button class="button is-link">＋</button>
    </div>

  </main>

  <!-- footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask" @click="$emit('close')">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-body">
              <p>これはチャットしてる間に質問できる質問生成サービスです</p>
              <p>さっそくチャットを始めましょう！</p>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>
  <div id="modalWindow">
    <modal v-if="showModal" @close="showModal = false">
    </modal>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>

</html>